@font-face {
  font-family: "JetBrains Mono";
  font-weight: 100;
  src: url("../resources/fonts/JetBrainsMono-Thin.woff2");
}
@font-face {
  font-family: "JetBrains Mono";
  font-weight: 200;
  src: url("../resources/fonts/JetBrainsMono-ExtraLight.woff2");
}
@font-face {
  font-family: "JetBrains Mono";
  font-weight: 300;
  src: url("../resources/fonts/JetBrainsMono-Light.woff2");
}
@font-face {
  font-family: "JetBrains Mono";
  font-weight: 400;
  src: url("../resources/fonts/JetBrainsMono-Regular.woff2");
}
@font-face {
  font-family: "JetBrains Mono";
  font-weight: 500;
  src: url("../resources/fonts/JetBrainsMono-Medium.woff2");
}
@font-face {
  font-family: "JetBrains Mono";
  font-weight: 600;
  src: url("../resources/fonts/JetBrainsMono-SemiBold.woff2");
}
@font-face {
  font-family: "JetBrains Mono";
  font-weight: 700;
  src: url("../resources/fonts/JetBrainsMono-Bold.woff2");
}
@font-face {
  font-family: "JetBrains Mono";
  font-weight: 800;
  src: url("../resources/fonts/JetBrainsMono-ExtraBold.woff2");
}
@font-face {
  font-family: "JetBrains Mono";
  font-weight: 100;
  src: url("../resources/fonts/JetBrainsMono-ThinItalic.woff2");
  font-style: italic;
}
@font-face {
  font-family: "JetBrains Mono";
  font-weight: 200;
  src: url("../resources/fonts/JetBrainsMono-ExtraLightItalic.woff2");
  font-style: italic;
}
@font-face {
  font-family: "JetBrains Mono";
  font-weight: 300;
  src: url("../resources/fonts/JetBrainsMono-LightItalic.woff2");
  font-style: italic;
}
@font-face {
  font-family: "JetBrains Mono";
  font-weight: 400;
  src: url("../resources/fonts/JetBrainsMono-RegularItalic.woff2");
  font-style: italic;
}
@font-face {
  font-family: "JetBrains Mono";
  font-weight: 500;
  src: url("../resources/fonts/JetBrainsMono-MediumItalic.woff2");
  font-style: italic;
}
@font-face {
  font-family: "JetBrains Mono";
  font-weight: 600;
  src: url("../resources/fonts/JetBrainsMono-SemiBoldItalic.woff2");
  font-style: italic;
}
@font-face {
  font-family: "JetBrains Mono";
  font-weight: 700;
  src: url("../resources/fonts/JetBrainsMono-BoldItalic.woff2");
  font-style: italic;
}
@font-face {
  font-family: "JetBrains Mono";
  font-weight: 800;
  src: url("../resources/fonts/JetBrainsMono-ExtraBoldItalic.woff2");
  font-style: italic;
}
body {
  display: flex;
  flex-direction: row;
  flex-wrap: now;
  row-gap: 15vw;
  justify-content: space-evenly;
  margin: 0;
  overflow: auto;
  background: #162920;
}
body .info-card {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 30vh;
  background-color: #183d2c;
  border: 5px solid black;
  border-radius: 5vh;
  overflow: hidden;
}
body .info-card h3 {
  padding: 3vh 0 1vh 0;
  margin-top: 0;
  top: none;
  background-color: #2caa6f;
  border-bottom: 3px solid black;
  font-family: "JetBrains Mono";
  font-size: 1.75rem;
  font-weight: 800;
  text-align: center;
}
body .info-card p {
  padding: 0 2.5vw;
  color: #55c390;
  font-family: "JetBrains Mono";
  font-size: 1rem;
  text-align: center;
}
body main {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  justify-content: space-between;
  margin: 10vh 0;
}
body main img {
  height: 23vh;
  width: 23vh;
  margin-bottom: 4vh;
  border: 1px solid rgba(44, 170, 111, 0.5);
  border-radius: 15%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
}
body main img:hover {
  border: 1px solid rgba(44, 170, 111, 0.125);
}
body main .redirect-button {
  padding: 1vh calc(5vw + 6vh);
  width: 100%;
  background-color: #107144;
  border: 1px #2caa6f solid;
  border-radius: 3vh;
  box-shadow: 0 0.5vh 0 0 #2caa6f, 0 -0.25vh 1vh -0.5vh #000;
  font-family: "JetBrains Mono", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 100ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body main .redirect-button:active {
  transform: translateY(0.5vh);
  box-shadow: 0 0vh 0 0 #2caa6f, 0 -0.25vh 1vh -0.5vh #000;
}

@media screen and (max-width: 1350px) {
  body {
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 0;
  }
  body .info-card {
    margin-top: 10vh;
    margin: 0 5vw;
  }
  body #copyright {
    margin-bottom: 10vh;
  }
}/*# sourceMappingURL=style.css.map */